# Visual Studio
.vs/
bin/
obj/
[Oo]bj/
[Bb]in/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleasePublic/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
